{% extends "baseAdm.html" %}
{% load static %}
{% block body %}
            <form class="form-signin" action="{% url 'cadastrarProduto' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <legend>Cadastrar Produto</legend>
                    <div class="form-group">
                        <label for="id_nome">Nome produto:</label>
                        <input type="text" id="id_nome" name="nome" class="form-control" placeholder="Nome" />
                    </div>

                    <div class="form-group">
                        <label for="valor">Valor:</label>
                        <input type="text" id="valor" name="valor" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="qtd">Quantidade:</label>
                        <input type="number" id="qtd" name="qtd" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="tecido">Tecido:</label>
                        <input type="text" id="tecido" name="tecido" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label for="tamanho">Tamanho:</label>
                        <input type="text" id="tamanho" name="tamanho" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="fabricante">Fabricante:</label>
                        <input type="text" id="fabricante" name="fabricante" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="origem">Origem:</label>
                        <input type="text" id="origem" name="origem" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label for="descricao">Descrição:</label>
                        <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="descricao">Selecione a categoria:</label>
                        <select name="categoria" class="form-control" required>
                            {% for categoria in categorias %}
                                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="img">Imagem</label>
                        <input type="file" id="img" name="img">
                        <p class="help-block">selecione a imagem do produto.</p>
                    </div>

                    <div class="form-group">
                        <label for="desImg">Descrição da Imagem:</label>
                        <textarea class="form-control" id="desImg" name="desImg" rows="3"></textarea>
                    </div>

                    {% if form.errors %}
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                             {{form.non_field_errors}}
                        </div>
                    {% endif %}

                </fieldset>
                <button type="submit" class="btn btn-primary btn-block btn-lg">
                    Enviar
                </button>
            </form>
{% endblock %}